body {
  font-family: 'ZCOOL KuaiLe', cursive;  
  background-image: url(../images/desk.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
form {
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: auto;
margin-left: auto;
margin-top: 53px;
}

label {
    color: chartreuse;;
    font-weight: bolder;
    font-size: 32px;
}
input {
   width: 680px;
   height: 30px;
   font-size:x-large;
   color: black;
}